<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<body>
    <footer>
       <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
     <div id="footer">
        <p>Web Browser</p>   
        <b>
            <a href="https://www.google.com" target="_blank"><img src="http://assets.materialup.com/uploads/225612de-1680-46ff-bcfd-cc03e10bfd8b/google-search-3.png" width="20" height="20" /></a>
            Google
            <a href="https://www.YouTube.com" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/YouTube_social_white_circle_%282017%29.svg/1024px-YouTube_social_white_circle_%282017%29.svg.png" width="25" height="25" /></a>
            YouTube
            <a href="https://www.chrome.com" target="_blank"><img src="http://icons.iconarchive.com/icons/xenatt/the-circle/512/App-Chrome-icon.png" width="20" height="20" /></a>
            Chrome
            <a href="https://www.wikipedia.org/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Wikipedia_svg_logo.svg/1024px-Wikipedia_svg_logo.svg.png" width="25" height="25" /></a>
            Wikipedia
            <a href="https://www.Bing.com" target="_blank"><img src="https://image.flaticon.com/icons/png/512/356/356015.png" width="20" height="20" /></a>
            Bing
        </b>
        <p>
            Some useful links to learn Programming language
        </p>
        <b>
            <a href="https://www.sololearn.com" target="_blank"><img src="https://is2-ssl.mzstatic.com/image/thumb/Purple118/v4/09/a9/c4/09a9c45b-d772-050f-64ce-3291af28ba48/source/256x256bb.jpg" width="20" height="20" /></a> Sololearn
        </b>
     </div>
    </footer>
</body>
</html>